{% extends 'base.html' %}
{% load static i18n %}
{% block title %} {% trans 'تفاصيل فرصة التمويل' %} {% endblock %}

{% block content %}
<div class="row justify-content-center mt-4 pt-4">
  <h1> {% trans 'تفاصيل فرصة التمويل' %} </h1>

  <div class="span1 well">
    <!-- <center>   -->
    {% if request.user.is_authenticated and request.user.is_superuser %}
    <h3 class="mt-4"> {% trans "اسم اللذي أضاف فرصة التمويل" %} : {{ funding.user }}</h3>
    {% endif %}

    <h3 class="mt-4"> {% trans "اسم المنظمة" %} : {{ funding.org_name }}</h3>
    <span class="text-muted">{% trans "  تاريخ الإضافة " %} : {{ funding.date_published }} </span>

    <p class="mt-3"> {% trans "الجهة المانحة" %} : {{ funding.name_funding }}</p>
    <p> {% trans "وصف فرصة التمويل" %} : <br> {{ funding.funding_country }}</p>

    <!-- </center> -->
  </div>
  <div class="row">

      <div class="col">
        {% if request.user.is_authenticated and request.user.is_superuser %}
        
        {% if funding.publish == False %}
        <form action="" class="confirm" method="post">
          {% csrf_token %} {{form.publish}}
          <div class="form-group">
            <input type="submit" id="org_confirm_btn" class="btn btn-block"
              value="{% trans 'الموافقة على النشر' %}" />
          </div>
        </form>
        {% elif funding.publish == True %}
        <form action="" class="deconfirm" method="post">
          {% csrf_token %} {{form.publish}}
          <div class="form-group">
            <input type="submit" id="org_deconfirm_btn" class="btn btn-block" value="{% trans 'إلغاء نشر فرصة التمويل' %}" />
          </div>
        </form>
        {% endif %}
        {% endif %}
      </div>
      
      
        
        {% if request.user == funding.user  or request.user.is_superuser %}
        <div class="col">
          <a href="{% url 'funding_edit' funding.id %}" class="btn btn-block"> {% trans 'تعديل فرصة التمويل' %} </a>
        </div>

        <div class="col">
          <a href="{% url 'funding_delete' funding.id %}" class="btn btn-block"> {% trans 'حذف' %} </a>
        </div>
        
      {% endif %}

    </div>


</div>
{% endblock %}