{% extends 'base.html' %}
{% load static i18n crispy_forms_tags %}
{% block title %} {% trans 'تفاصيل فرصة التمويل' %} {% endblock %}

{% block content %}
<div class="row justify-content-center mt-4 pt-4">
  <h1> {% trans 'تفاصيل فرصة التمويل' %} </h1>

  <div class="well col-lg-9 col-xs-12 job-card" data-aos="fade-in">
    <!-- <center>   -->
    <h2 class="text-center">
      {% trans 'الجهة المانحة' %} :
      {% if funding.org_name %}
      {{ funding.org_name }}
      {% else %}
      {{ funding.name_funding }}
      {% endif %}
    </h2>

    {% if funding.logo %}
    <figure>
      <img src="{{ funding.logo.url }}"
        name="{% if funding.org_name %} {{ funding.org_name }} {% else %} {{ funding.name_funding }} {% endif %}"
        title="{% if funding.org_name %} {{ funding.org_name }} {% else %} {{ funding.name_funding }} {% endif %}"
        alt="{% if funding.org_name %} {{ funding.org_name }} {% else %} {{ funding.name_funding }} {% endif %}"
        width="100%" class="img-thumbnail rounded">
    </figure>
    {% endif %}

    <span class="text-muted">
      {% trans "تاريخ الإضافة" %} :
      {% if funding.date_published %}
      {{ funding.date_published|date:"Y-m-d" }}
      {% else %}
      {{ funding.created_at|date:"Y-m-d" }}
      {% endif %}
    </span>

    {% if request.user.is_authenticated and request.user.is_superuser %}
    <p class="mt-2"> {% trans "اسم اللذي أضاف فرصة التمويل" %} : {{ funding.user }}</p>
    {% endif %}

    <p> {% trans 'لمحة عن الجهة المانحة' %} : {{ funding.funding_org_description }} </p>

    <p> {% trans 'قطاع المنحة' %} : {{ funding.work_domain }} </p>
    <p> {% trans 'دول المنحة' %} : {{ funding.position_work.name }} </p>
    <p>
      {% trans 'المحافظة' %} :
      {% if funding.city_work %}
      {{ funding.city_work }}
      {% else %}
      {% trans 'لم يذكر' %}
      {% endif %}
    </p>

    <p> <strong>{% trans 'تاريخ إغلاق المنحة' %} : {{ funding.funding_dead_date|date:"c" }}</strong> </p>
    <p> <strong>{% trans 'مدة المنحة' %} : {{ funding.funding_period }}</strong> </p>
    <p> <strong>{% trans 'حجم المنحة' %} : {{ funding.funding_amounte }}</strong> </p>
    <p> {% trans "وصف المنحة" %} : <br> {{ funding.funding_description }}</p>
    <p> {% trans "شروط المنحة" %} : {{ funding.funding_conditions }}</p>
    <p> {% trans "متطلبات التقديم" %} : {{ funding.funding_reqs }}</p>
    <p> {% trans "كيفية التقديم" %} : {{ funding.funding_guid }}</p>
    <p> {% trans "الرابط الأصلي" %} :
      <a href="{{ funding.funding_url }}" target="_blank">{{ funding.funding_url }}</a>
    </p>

    <!-- </center> -->

  </div>


  <!-- THE LATEST FUNDING  -->


  <div class="col-lg-3 d-none d-lg-block">
    <h2 class="text-center mb-4 border-bottom"> {% trans 'أحدث فرص تمويل المنظمات' %} </h2>
    {% for funding in fundings|slice:3 %}
    <a href="{% url 'funding_detail' funding.id%}" class='bg-light nav-link border-bottom pb-3 mb-2'>
      <div class="news-card">
        <p class="text-dark"> {{ funding.funding_description|truncatechars:80 }} </p>

        <figure>
          <img src="{{ funding.logo.url }}" class="w-100" name="{{ funding.title }}" title="{{ funding.title }}"
            alt="{{ funding.title }}">
          <figcaption class="text-muted"> <i class="far fa-clock"></i> {{ funding.created_at|timesince }} </figcaption>
        </figure>
      </div>
    </a>
    {% endfor %}
  </div>




  <div class="row">

    <div class="col">
      {% if request.user.is_authenticated and request.user.is_superuser %}

      {% if funding.publish == False %}
      <form action="" class="confirm" method="post">
        {% csrf_token %} {{form.publish}}
        <div class="form-group">
          <button type="submit" id="org_confirm_btn" class="btn btn-block" title="{% trans 'الموافقة على النشر' %}"><i
              class="fas fa-check"></i></button>
        </div>
      </form>
      {% elif funding.publish == True %}
      <form action="" class="deconfirm" method="post">
        {% csrf_token %} {{form.publish}}
        <div class="form-group">
          <button type="submit" id="org_deconfirm_btn" class="btn btn-block"
            title="{% trans 'إلغاء نشر فرصة التمويل' %}"><i class="fa fa-ban" aria-hidden="true"></i></button>
        </div>
      </form>
      {% endif %}
      {% endif %}
    </div>



    {% if request.user == funding.user  or request.user.is_superuser %}
    <div class="col">
      <a href="{% url 'funding_edit' funding.id %}" class="btn btn-block" title="{% trans 'تعديل فرصة التمويل' %}"><i
          class="fas fa-edit"></i></a>
    </div>

    <div class="col">
      <a href="{% url 'funding_delete' funding.id %}" class="btn btn-block" title="{% trans 'حذف' %}"><i
          class="far fa-trash-alt"></i></a>
    </div>

    {% endif %}

  </div>


</div>
{% endblock %}