{% extends 'base.html' %}
{% load static i18n %}
{% block title %} {% trans 'تفاصيل الخبر' %} {% endblock %}

{% block content %}


<div class="row justify-content-center mt-4 pt-4">
  <h1> {% trans 'تفاصيل الخبر' %} </h1>

  <div class="span1 well">
    <!-- <center>   -->
    <a href="">
      <img src="{{ new.image.url }}" name="{{ new.title }}" title="{{ new.title }}" alt="{{ new.title }}"></a>

    {% if request.user.is_authenticated and request.user.is_superuser %}
    <h3 class="mt-4"> {% trans "اسم اللذي أضاف الخبر" %} : {{ new.user }}  </h3>
    {% endif %}

    <h3 class="mt-4"> {% trans "اسم المنظمة" %} : <a href="{% url 'particip_detail' new.org_name.id %}" class="nav-link">{{ new.org_name }}</a> </h3>
    <span class="text-muted">{% trans "تاريخ إضافة الخبر" %} : {{ new.date_published }} </span>

    <p class="mt-3"> {% trans "عنوان الخبر" %} : {{ new.title }}</p>
    <p> {% trans "محتوى الخبر" %} : <br> {{ new.content }}</p>

    <!-- </center> -->
  </div>
  <div class="row">

      <div class="col">
        {% if request.user.is_authenticated and request.user.is_superuser %}
        
        {% if new.publish == False %}
        <form action="" class="confirm" method="post">
          {% csrf_token %} {{form.publish}}
          <div class="form-group">
            <input type="submit" id="org_confirm_btn" class="btn btn-block"
              value="{% trans 'الموافقة على نشر الخبر' %}" />
          </div>
        </form>
        {% elif new.publish == True %}
        <form action="" class="deconfirm" method="post">
          {% csrf_token %} {{form.publish}}
          <div class="form-group">
            <input type="submit" id="org_deconfirm_btn" class="btn btn-block" value="{% trans 'إلغاء نشر الخبر' %}" />
          </div>
        </form>
        {% endif %}
        {% endif %}
      </div>
      
      
        
        {% if request.user == new.user  or request.user.is_superuser %}
        <div class="col">
          <a href="{% url 'news_edit' new.id %}" class="btn btn-block"> {% trans 'تعديل الخبر' %} </a>
        </div>

        <div class="col">
          <a href="{% url 'news_delete' new.id %}" class="btn btn-block"> {% trans 'حذف الخبر' %} </a>
        </div>
        
      {% endif %}

    </div>


</div>
{% endblock %}