{% extends 'base.html' %}
{% load static i18n crispy_forms_tags %}

{% block title %} {% trans "إضافة " %} {% endblock %}

{% block content %}


<div class="row mt-4 pt-4 mb-4">
    <h1> {% trans "اضافة فرصة  بناء القدرات" %} </h1>

    <form action="" method="post" class="register" enctype="multipart/form-data">
        {% csrf_token %}

        {% if request.user.is_authenticated and request.user.is_staff %}
        <div class="for-group">
            {{ form.org_name|as_crispy_field }}
        </div>
        {% endif %}
        <div class="for-group">
            {{ form.name_capacity|as_crispy_field }}
        </div>
        <div class="for-group">
            {{ form.title_capacity|as_crispy_field }}
        </div>
        <div class="for-group">
            {{ form.capacity_description|as_crispy_field }}
        </div>
        <div class="for-group">
            {{ form.capacity_type|as_crispy_field }}
        </div>
        <div class="for-group">
            {{ form.capacity_country|as_crispy_field }}
        </div>
        <div class="for-group">
            {{ form.capacity_city|as_crispy_field }}
        </div>
        <div class="for-group">
            {{ form.capacity_domain|as_crispy_field }}
        </div>
        <div class="for-group">
            {{ form.capacity_dead_date|as_crispy_field }}
        </div>
        <div class="for-group">
            {{ form.capacity_reqs|as_crispy_field }}
        </div>
        <div class="for-group">
            {{ form.capacity_guid|as_crispy_field }}
        </div>
        <div class="for-group">
            {{ form.capacity_url|as_crispy_field }}
        </div>
            
        
       
        <div class="form-group">
            <input type="submit" class="btn btn-block mt-3" value='{% trans "انشر فرصة بناء قدرات " %}'>
        </div>

    </form>


</div>

{% endblock %}