{% extends 'base.html' %}
{% load static i18n crispy_forms_tags %}

{% block title %} {% trans "إضافة فرصة عمل" %} {% endblock %}

{% block content %}


<div class="row mt-4 pt-4 mb-4">
    <h1> {% trans "إضافة فرصة عمل" %} </h1>


    <form action="" method="post" class="register" enctype="multipart/form-data">
        {% csrf_token %}

        {% if request.user.is_authenticated and request.user.is_staff %}
        <div class="for-group">
            {{ form.org_name|as_crispy_field }}
        </div>
        {% endif %}
        <div class="for-group">
            {{ form.job_title|as_crispy_field }}
        </div>
        <div class="for-group">
            {{ form.job_description|as_crispy_field }}
        </div>
        <div class="for-group">
            {{ form.period_months|as_crispy_field }}
        </div>
        <div class="for-group">
            {{ form.job_type|as_crispy_field }}
        </div>
        <div class="for-group">
            {{ form.experience|as_crispy_field }}
        </div>
        <div class="for-group">
            {{ form.job_country|as_crispy_field }}
        </div>
        <div class="for-group">
            {{ form.job_city|as_crispy_field }}
        </div>
        <div class="for-group">
            {{ form.job_area|as_crispy_field }}
        </div>
        <div class="for-group">
            {{ form.job_domain|as_crispy_field }}
        </div>
        <div class="for-group">
            {{ form.dead_date|as_crispy_field }}
        </div>
       
        <div class="form-group">
            <input type="submit" class="btn btn-block mt-3" value='{% trans "انشر فرصة العمل" %}'>
        </div>

    </form>


</div>

{% endblock %}