// @import "custom";
@import "~bootstrap/scss/bootstrap";



// COLOR
// #136097 / rgba(8, 81, 133, 1)  rgba(4, 109, 184, 1)
// $color-1: rgb(59, 133, 180);
// $color-2: rgb(69, 156, 210);

$color-1: rgb(8, 81, 133);
$color-2: rgb(4, 109, 184);

$bg-color: linear-gradient(to right, $color-2, $color-1);
$bg-color-degrader: linear-gradient(to right, rgba($color-2, 0.5), rgba($color-1, 0.5));
$bg-color-btn: linear-gradient(to right, rgba($color-2, 1), rgba(255, 255, 255, 1), rgba($color-1, 1));
$bg-color-btn-hover: linear-gradient(to right, rgba(255, 255, 255, 1), rgba($color-2, 0.7), rgba($color-1, 0.7), rgba(255, 255, 255, 1));

// FONTS
$main-font: "Tajawal",
sans-serif;
$title-font: "Reem Kufi",
sans-serif;



// FUNCTIONS

@mixin work-btn {
    border: 1px solid $bg-color !important;
    background-image: $bg-color !important;
    border-radius: 50%;
    color: #fff;
    height: 200px !important;
    font-size: 1.5rem;
    overflow: hidden;
    margin: 5px;
}

@mixin myTransition {
    -webkit-transition-property: all;
    -moz-transition-property: all;
    -ms-transition-property: all;
    -o-transition-property: all;
    transition-property: all;

    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -ms-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;

    -webkit-transition-timing-function: ease;
    -moz-transition-timing-function: ease;
    -ms-transition-timing-function: ease;
    -o-transition-timing-function: ease;
    transition-timing-function: ease;
}




body {

    // BODY GENERAL
    padding-top: 80px;
    font-family: $main-font;

    .text-al-just {
        text-align: justify !important;
    }

    // GENERAL
    h1,
    h2 {
        font-family: $title-font;
    }

    .card {
        background-image: $bg-color;
    }

    hr {
        background-image: $bg-color;
        border: 1px;
    }

    .btn {
        background-image: $bg-color-btn !important;
        border: 1px solid $color-1;
        color: $color-1;
        font-weight: 600;
        text-shadow: 0.5px 0.5px 6.5px rgba(255, 255, 255, 0.7);
        border: none;
        padding: 0.5em;

        transition: all 0.5s ease-in-out;

        &:hover {
            background-image: $bg-color-btn-hover !important;
            text-shadow: 0.5px 0.5px 6.5px rgba(0, 0, 0, 0.7);
            color: #fff;
        }


        // PROFILE
        .prof_body {
            color: #6F8BA4;
            margin-top: 20px;
        }

        .section {
            padding: 100px 0;
            position: relative;
        }

        .gray-bg {
            background-color: #f5f5f5;
        }

        img {
            max-width: 100%;
        }

        img {
            vertical-align: middle;
            border-style: none;
        }

        /* About Me 
---------------------*/
        .about-text h3 {
            font-size: 45px;
            font-weight: 700;
            margin: 0 0 6px;
        }

        @media (max-width: 767px) {
            .about-text h3 {
                font-size: 35px;
            }
        }

        .about-text h6 {
            font-weight: 600;
            margin-bottom: 15px;
        }

        @media (max-width: 767px) {
            .about-text h6 {
                font-size: 18px;
            }
        }

        .about-text p {
            font-size: 18px;
            max-width: 450px;
        }

        .about-text p mark {
            font-weight: 600;
            color: #20247b;
        }

        .about-list {
            padding-top: 10px;
        }

        .about-list .media {
            padding: 5px 0;
        }

        .about-list label {
            color: #20247b;
            font-weight: 600;
            width: 88px;
            margin: 0;
            position: relative;
        }

        .about-list label:after {
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            right: 11px;
            width: 1px;
            height: 12px;
            background: #20247b;
            -moz-transform: rotate(15deg);
            -o-transform: rotate(15deg);
            -ms-transform: rotate(15deg);
            -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
            margin: auto;
            opacity: 0.5;
        }

        .about-list p {
            margin: 0;
            font-size: 15px;
        }

        @media (max-width: 991px) {
            .about-avatar {
                margin-top: 30px;
            }
        }

        .about-section .counter {
            padding: 22px 20px;
            background: #ffffff;
            border-radius: 10px;
            box-shadow: 0 0 30px rgba(31, 45, 61, 0.125);
        }

        .about-section .counter .count-data {
            margin-top: 10px;
            margin-bottom: 10px;
        }

        .about-section .counter .count {
            font-weight: 700;
            color: #20247b;
            margin: 0 0 5px;
        }

        .about-section .counter p {
            font-weight: 600;
            margin: 0;
        }

        mark {
            background-image: linear-gradient(rgba(252, 83, 86, 0.6), rgba(252, 83, 86, 0.6));
            background-size: 100% 3px;
            background-repeat: no-repeat;
            background-position: 0 bottom;
            background-color: transparent;
            padding: 0;
            color: currentColor;
        }

        .theme-color {
            color: #fc5356;
        }

        .dark-color {
            color: #20247b;
        }









    }








}