@import "general.scss";

@mixin work-btn {
    border: 1px solid $bg-color !important;
    background-image: $bg-color;
    // background-color: $color_1;
    border-radius: 50%;
    color: #fff;
    transition: all 0.7s ease-in-out;
    height: 200px !important;
    font-size: 1.5rem;
    overflow: hidden;
    margin: 5px;
}

@mixin myTransition {
    -webkit-transition-property: all;
    -moz-transition-property: all;
    -ms-transition-property: all;
    -o-transition-property: all;
    transition-property: all;

    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -ms-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;

    -webkit-transition-timing-function: ease;
    -moz-transition-timing-function: ease;
    -ms-transition-timing-function: ease;
    -o-transition-timing-function: ease;
    transition-timing-function: ease;
}