{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}


{% block title %} {% trans "إعادة تعيين كلمة المرور" %} {% endblock %}

{% block content %}

<div class="register">
    <!-- Réinitialiser mot de passe -->
    <h1 class="text-white">{% trans "إعادة تعيين كلمة المرور" %}</h1>

    <div class="content-section">
        <form method="POST" action="" class="form-group">
            {% csrf_token %}
            <fieldset class="form-group">
                <!-- <legend class="border-bottom mb-4">
                    Reset Your Password hear
                </legend> -->
                {{ form|crispy  }}
                <div class="form-group">
                    <!-- réinitialiser -->
                    <input type="submit" class="btn btn-block" value="{% trans 'إعادة تعيين' %}">
                </div>

            </fieldset>
        </form>

    </div>

    <!-- 
    <form method="POST" action="" class="form-group">
        
        {{ form|crispy }}
        <input type="submit" class="btn btn-success" value="Register">

    </form> -->
</div>

{% endblock %}