{% extends 'base.html' %}
{% load static i18n %}
{% block title %} {% trans 'قائمة دليل المجتمع المدني للموافقة على النشر' %} {% endblock %}


{% block content %}

{% if request.user.is_authenticated and request.user.is_staff %}

<h1>{% trans 'قائمة دليل المجتمع المدني للموافقة على النشر' %}</h1>

{% if orgs %}



<div class="row pt-4 mb-4">

    <br>
    <br>

    {% for org in orgs %}

    <div class="span3 well mb-4">
        <center>
            <a href="{% url 'particip_detail' org.id %}">
                <img src="{{ org.logo.url }}" name="{{ org.name_en_ku }}" title="{{ org.name_en_ku }}" width="140"
                    height="140" class="img-circle"></a>
            <h3 class="mt-4">{{ org.name }}</h3>
            <p>{{ org.short_cut }}</p>
            <p>{{ org.message|truncatechars:80 }}</p>
            <p>
                <a href="{% url 'particip_detail' org.id %}" class="btn btn-block">
                    {% trans 'للمزيد عن المنظمة' %} </a>
            </p>

        </center>
    </div>
    {% endfor %}


    <div class="pagination row border-top mt-4 pt-4" dir="ltr">
        <center>
            {% if orgs.paginator.num_pages > 1 %}
            {% if orgs.has_previous %}

            <a href="?page=1" class="btn">
                <i class="fa fa-angle-double-left"></i>
            </a>
            <a href="?page={{ orgs.previous_page_number }}" class="btn">
                <i class="fa fa-angle-left"></i>
            </a>

            {% endif %}

            {% for num in orgs.paginator.page_range %}
            {% if orgs.number == num %}
            <a href="?page={{ num }}" class="btn btn-current">{{ num }}</a>
            {% elif num > orgs.number|add:'-3' and num < orgs.number|add:'3' %}
            <a href="?page={{ num }}" class="btn">{{ num }}</a>
            {% endif %}
            {% endfor %}


            {% if orgs.has_next %}
            <a href="?page={{ orgs.next_page_number }}" class="btn"><i class="fa fa-angle-right"></i></a>
            <a href="?page={{ orgs.paginator.num_pages }}" class="btn"><i class="fa fa-angle-double-right"></i></a>

            {% endif %}
            {% endif %}

        </center>
    </div>




</div>
{% else %}
<h3 class="pt-5 mt-5 mb-5"> {% trans 'حالياً لا يوجد طلبات للمنظمات للموافقة عليها' %} </h3>
<a href="{% url 'guide' %}" class="btn btn-block mt-5"> {% trans 'عودة إلى صفحة دليل المنظمات' %} </a>
{% endif %}



{% endif %}

{% endblock %}