{% extends 'base.html' %}
{% load static i18n %}
{% block title %}  {% trans 'تفاصيل المحتوى السمعي والبصري' %}  {% endblock %}

{% block content %}


<div class="row justify-content-center mt-4 pt-4">
    <h1>{% trans 'تفاصيل المحتوى السمعي والبصري' %}</h1>


    <div class="span1 well">
    <!-- <center>   -->
    
    {% if request.user.is_authenticated and request.user.is_superuser %}
    <h3 class="mt-4"> {% trans "اسم اللذي أضاف المحتوى" %} : {{ media.user }}</h3>
    {% endif %}

    <h3 class="mt-4"> {% trans "اسم المنظمة" %} : {{ media.org_name }}</h3>
    <span class="text-muted">{% trans "تاريخ إضافة المحتوى" %} : {{ media.created_at }} </span>

    <p class="mt-3"> {% trans "عنوان المحتوى" %} : {{ media.title }}</p>
    <p class="mt-3"> {% trans "رابط المحتوى" %} : {{ media.url }}</p>
    <p> {% trans "مضمون المحتوى السمعي و البصري" %} : <br> </p>
    {% if '.pdf' in media.media.url %}
        <object media="{{ media.media.url }}" type="application/pdf" title="{{media.title}}" width="800" height="885">
            <!-- <embed src="{{ media.media.url  }}" > -->
        </object>
    {% else %}
        <a href="">
      <img src="{{ media.media.url }}" name="{{ media.title }}" title="{{ media.title }}" alt="{{ media.title }}" width="100%"></a>
    {% endif %}

    <!-- </center> -->
  </div>
  <div class="row">

      <div class="col">
        {% if request.user.is_authenticated and request.user.is_superuser %}
        
        {% if media.publish == False %}
        <form action="" class="confirm" method="post">
          {% csrf_token %} {{form.publish}}
          <div class="form-group">
            <input type="submit" id="org_confirm_btn" class="btn btn-block"
              value="{% trans 'الموافقة على نشر المحتوى' %}" />
          </div>
        </form>
        {% elif media.publish == True %}
        <form action="" class="deconfirm" method="post">
          {% csrf_token %} {{form.publish}}
          <div class="form-group">
            <input type="submit" id="org_deconfirm_btn" class="btn btn-block" value="{% trans 'إلغاء نشر المحتوى' %}" />
          </div>
        </form>
        {% endif %}
        {% endif %}
      </div>
      
      
        
        {% if request.user == media.user  or request.user.is_superuser %}
        <div class="col">
          <a href="{% url 'edit_media' media.id %}" class="btn btn-block"> {% trans 'تعديل المحتوى' %} </a>
        </div>

        <div class="col">
          <a href="{% url 'delete_media' media.id %}" class="btn btn-block"> {% trans 'حذف المحتوى' %} </a>
        </div>
        
      {% endif %}

    </div>



</div>



{% endblock %}