{% extends 'base.html' %} {% load static i18n phonenumber_filters %} {% get_current_language as
LANGUAGE_CODE %} {% block title %} {% trans 'تفاصيل المنظمة' %} {% endblock %}
{% block content %}

<h1 class="mt-4 mb-4">{% trans 'تفاصيل المنظمة' %} </h1>

<div class="container emp-profile mt-4">
  <form method="post">
    {% csrf_token %}
    <div class="row">
      <div class="col-md-4 mb-4">
        <div class="profile-img">
          <img src="{{ org.logo.url }}" alt="{{ org.name }}" title="{{ org.name }}" />
          <!-- <div class="file">
                        Change Photo
                        <input type="file" name="file" />
                    </div> -->
        </div>
      </div>
      <div class="col-md-6">
        <div class="profile-head">
          <h5>{{ org.name }}</h5>
          <h6>{{ org.name_en_ku }}</h6>
          <h6>{{ org.short_cut }}</h6>
          <!-- <p class="proile-rating">RANKINGS : <span>8/10</span></p> -->
          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
                aria-selected="true">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile-{{org.id}}" role="tab"
                aria-controls="profile-{{org.id}}" aria-selected="false">Contact</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-2">
        <!-- <input type="submit" class="profile-edit-btn btn" name="btnAddMore" value="Edit Profile" /> -->
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="profile-work">
          <p>{% trans 'معلومات عن المنظمة' %}</p>
          <p>{% trans 'نوع المنظمة' %} : {{ org_type }}</p>
          <p>{% trans 'مكان العمل' %} : {{ position_work }}</p>
          <p>{% trans 'المحافظة' %} : {% if city_work %} {{ city_work }} {% else %} <span class="text-muted">
              {% trans 'لم يذكر' %} </span> {% endif %} </p>

          <p>{% trans 'الرؤية و الرسالة' %}</p>
          <p>{{ org.message }}</p>
        </div>
      </div>
      <div class="col-md-8">
        <div class="tab-content profile-tab" id="myTabContent">
          <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
            <div class="row">
              <div class="col-md-6">
                <label> {% trans 'اسم رئيس مجلس اﻹدارة' %} </label>
              </div>
              <div class="col-md-6">
                <p>
                  {% if org.name_managing_director %}
                  {{ org.name_managing_director }}
                  {% else %}
                  <span class="text-muted"> {% trans 'لم يذكر' %} </span>
                  {% endif %}
                </p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label> {% trans 'اسم المدير التنفيذي' %} </label>
              </div>
              <div class="col-md-6">
                <p>
                  {% if org.name_ceo %} {{ org.name_ceo }} {% else %}
                  <span class="text-muted"> {% trans 'لم يذكر' %} </span>
                  {% endif %}
                </p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label> {% trans 'مجال العمل' %} </label>
              </div>
              <div class="col-md-6">
                <p>
                  {% if org.work_domain %} {{ work_domain }} {% else %}
                  <span class="text-muted"> {% trans 'لم يذكر' %} </span>
                  {% endif %}
                </p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label> {% trans 'الفئات المستهدفة' %} </label>
              </div>
              <div class="col-md-6">
                <p>
                  {% if org.target_cat %} {{ target_cat }} {% else %}
                  <span class="text-muted"> {% trans 'لم يذكر' %} </span>
                  {% endif %}
                </p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label> {% trans 'تاريخ سنة التأسيس' %} </label>
              </div>
              <div class="col-md-6">
                <p>
                  {% if org.date_of_establishment %}
                  {{ org.date_of_establishment }}
                  {% else %}
                  <span class="text-muted"> {% trans 'لم يذكر' %} </span>
                  {% endif %}
                </p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label> {% trans 'هل المنظمة مسجلة ؟' %} </label>
              </div>
              <div class="col-md-6">
                <p>
                  {% if org.is_org_registered == '1' %} {% trans 'نعم مسجلة' %}
                  {% elif org.is_org_registered == '0' %}
                  <span class="text-muted"> {% trans 'غير مسجلة' %} </span>
                  {% endif %}
                </p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label> {% trans 'بلد التسجيل' %} </label>
              </div>
              <div class="col-md-6">
                <p>
                  {% if org.org_registered_country %}
                  {{ org_registered_country }}
                  {% else %}
                  <span class="text-muted"> {% trans 'لم يذكر' %} </span>
                  {% endif %}
                </p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label> {% trans 'عدد اﻷعضاء' %} </label>
              </div>
              <div class="col-md-6">
                <p>
                  {% if org.org_members_count %}
                  {{ org.org_members_count }}
                  {% else %}
                  <span class="text-muted"> {% trans 'لم يذكر' %} </span>
                  {% endif %}
                </p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label> {% trans 'عدد النساء من اﻷعضاء' %} </label>
              </div>
              <div class="col-md-6">
                <p>
                  {% if org.org_members_womans_count %}
                  {{ org.org_members_womans_count }}
                  {% else %}
                  <span class="text-muted"> {% trans 'لم يذكر' %} </span>
                  {% endif %}
                </p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label> {% trans 'السياسات واللوائح المكتوبة' %} </label>
              </div>
              <div class="col-md-6">
                <p>
                  {% if org.w_polic_regulations %}
                  {{ w_polic_regulations }}
                  {% else %}
                  <span class="text-muted"> {% trans 'لم يذكر' %} </span>
                  {% endif %}
                </p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label>
                  {% trans 'ھل المؤسسة عضو في اي شبكة او تحالف او جسم تنسیقي؟' %}
                </label>
              </div>
              <div class="col-md-6">
                <p>
                  {% if org.org_member_with == '1' %}
                  {% trans 'نعم' %}
                  {% else %}
                  <span class="text-muted"> {% trans 'ليست عضو' %} </span>
                  {% endif %}
                </p>
              </div>
            </div>
            {% if org.org_member_with == '1' %}
            <div class="row">
              <div class="col-md-6">
                <label> {% trans 'اسم الشبكة أو التحالف' %} </label>
              </div>
              <div class="col-md-6">
                <p>
                  {% if org.coalition_name %}
                  {{ org.coalition_name }}
                  {% else %}
                  <span class="text-muted"> {% trans 'لم يذكر' %} </span>
                  {% endif %}
                </p>
              </div>
            </div>
            {% endif %}
            <div class="row">
              <div class="col-md-6">
                <label> {% trans 'التأكيد من اﻹدارة على أنها منظمة' %} </label>
              </div>
              <div class="col-md-6">
                <p>
                  {% if org.publish and org.publish == True %}
                  {% trans 'تمت الموافقة عليها' %}
                  {% else %}
                  <span class="text-muted">
                    {% trans 'لم يتم التأكيد بعد' %}
                  </span>
                  {% endif %}
                </p>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="profile-{{org.id}}" role="tabpanel" aria-labelledby="profile-tab">
            <div class="row">
              <div class="col-md-6">
                <label> {% trans 'عنوان المقر الرئيسي' %} </label>
              </div>
              <div class="col-md-6">
                <p>
                  {% if org.org_adress %}
                  {{ org.org_adress }}
                  {% else %}
                  <span class="text-muted"> {% trans 'لم يذكر' %} </span>
                  {% endif %}
                </p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label> {% trans 'الموقع الالكتروني' %} </label>
              </div>
              <div class="col-md-6">
                <p>
                  {% if org.site_web %}
                  <a href="https://www.{{ org.site_web }}" target="_blank">{{ org.site_web }}</a>
                  {% else %}
                  <span class="text-muted"> {% trans 'لم يذكر' %} </span>
                  {% endif %}
                </p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label> {% trans 'صفحة فيسبوك' %} </label>
              </div>
              <div class="col-md-6">
                <p>
                  {% if org.facebook %}
                  <a href="https://www.{{ org.facebook }}" target="_blank">{{ org.facebook }}</a>
                  {% else %}
                  <span class="text-muted"> {% trans 'لم يذكر' %} </span>
                  {% endif %}
                </p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label> {% trans 'صفحة تويتر' %} </label>
              </div>
              <div class="col-md-6">
                <p>
                  {% if org.twitter %}
                  <a href="https://www.{{ org.twitter }}" target="_blank">{{ org.twitter }}</a>
                  {% else %}
                  <span class="text-muted"> {% trans 'لم يذكر' %} </span>
                  {% endif %}
                </p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label> {% trans 'البريد الاكتروني' %} </label>
              </div>
              <div class="col-md-6">
                <p>
                  {% if org.email %} {{ org.email }} {% else %}
                  <span class="text-muted"> {% trans 'لم يذكر' %} </span>
                  {% endif %}
                </p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label> {% trans 'رقم الهاتف' %} </label>
              </div>
              <div class="col-md-6" dir="ltr">
                <p class="{% if LANGUAGE_CODE == 'ar' %} float-right {% endif %}">
                  {% if org.phone %}
                  {{ org.phone|phonenumber:"FR" }}
                  {% else %}
                  <span class="text-muted"> {% trans 'لم يذكر' %} </span>
                  {% endif %}
                </p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label> {% trans 'اسم الشخص المسؤول عن التواصل' %} </label>
              </div>
              <div class="col-md-6">
                <p>
                  {% if org.name_person_contact %} {{ org.name_person_contact }}
                  {% else %}
                  <span class="text-muted"> {% trans 'لم يذكر' %} </span>
                  {% endif %}
                </p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label>
                  {% trans 'البريد الاكتروني للشخص المسؤول عن التواصل' %}
                </label>
              </div>
              <div class="col-md-6">
                <p>
                  {% if org.email_person_contact %}
                  {{ org.email_person_contact }}
                  {% else %}
                  <span class="text-muted"> {% trans 'لم يذكر' %} </span>
                  {% endif %}
                </p>
              </div>
            </div>

            <!-- <div class="row">
                            <div class="col-md-12">
                                <label>Your Bio</label><br />
                                <p>Your detail description</p>
                            </div>
                        </div> -->
          </div>
        </div>
      </div>
    </div>
  </form>
</div>

<div class="row border-top pt-4">
  <div class="col">
    {% if request.user.is_authenticated and request.user.is_superuser %}

    {% if org.publish == False %}
    <form action="" class="confirm" method="post">
      {% csrf_token %} {{form.publish}}
      <div class="form-group">
        <input type="submit" id="org_confirm_btn" class="btn btn-block" value="{% trans 'قبول الطلب' %}" />
      </div>
    </form>
    {% elif org.publish == True %}
    <form action="" class="deconfirm" method="post">
      {% csrf_token %} {{form.publish}}
      <div class="form-group">
        <input type="submit" id="org_deconfirm_btn" class="btn btn-block" value="{% trans 'رفض الطلب' %}" />
      </div>
    </form>

    {% endif %}
    {% endif %}
    <!-- <div class="col">
            <a href="" class="btn btn-block"> {% trans 'حذف الطلب' %} </a>
        </div> -->
  </div>
  <div class="col">
    {% if request.user.is_authenticated and request.user == org.user %}

    <a href="{% url 'org_profile_edit' org.id %}" class="btn btn-block">
      {% trans 'تعديل ملفي الشخصي' %}
    </a>

    {% endif %}
  </div>
  <div class="col">
        <a href="{% url 'guide' %}" class="btn btn-block">
      {% trans 'عودة إلى صفحة دليل المجتمع المدني' %}
    </a>
  </div>







 
</div>

{% endblock %}